<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: fieldsattach.xml 14 2009-11-02 18:35:20Z cristian $ -->
<config>
    <fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_fieldsattach"
			section="component"
		/>
	</fieldset>
</config>

